<div id ="wrap">

  <h1>{{title}}</h1>

  <form ng-submit="sendForm()">
      <input type="text" placeholder="Où tu vas ?" ng-model="form">
      <button type="submit">Click !</button>
  </form>

  <img ng-show="image" src="">
  <p ng-show="image">Il fera {{temperature}} degrés !</p>

  <p ng-show="nm">Le niveau de plus haute mer astronomique de {{title}} est {{nm}} mètres ! <span ng-show="big">Wow !</span><span ng-show="huge">OMG !</span></p>

  <div ng-show="firstTime" id="map"></div>
  <img class="marinette" ng-show="firstTime" src="http://i.imgur.com/yeFOLfP.png" alt="marine a froid !">
  <img class="smiley" src="http://i.imgur.com/sdKTyVo.png" ng-hide="firstTime" alt="bienvenu !!!">
		
</div>
