html {
  height:100%;
}

body {
  background-color:#ffe400;
  background-repeat:repeat;
  height:100%;
  overflow: hidden;
}

h1 {
  font-family:'Paytone One', sans-serif;
  color:#ffb400;
  font-size:4em;
  display: inline-block;
  width: auto;
  background-color: #FFF;
  padding: 5px 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  margin-top: 10px;
}

#wrap {
  height:90%;
  width:90%;
  margin:auto;
  text-align: center;
  background-color:#67d6cd;
  border:1.5em solid #ffffff;
  border-radius:2em;
}

#map {
  height:50%;
  max-width:50%;
  margin:auto;
  border-radius: 20px;
}

p {
  font-family:Helvetica;
  color: #0B486B;
  font-weight: 700;
  font-size: 18px;
  margin: 10px;
}

input {
  width: 200px;
  height: 30px;
  font-size: 20px;
  font-family:'Paytone One', sans-serif;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
  border: solid 1px #dcdcdc;
}

button {
  height: 38px;
  vertical-align: middle;
  font-size: 16px;
  font-family:'Paytone One', sans-serif;
  color: #ffb400;
  border-radius: 10px;
  border: solid 1px #dcdcdc;
  background-color: #fff;
}

input:focus {
  outline: none;
}

img {
  margin-bottom: -20px;
}

.marinette {
  height: 300px;
  position: absolute;
  left: 10%;
  bottom: 100px;
}

.smiley {
  height: 450px;
}