html {
  height:100%;
}

body {
  background-color:#ffe400;
  background-repeat:repeat;
  height:100%;
  overflow: hidden;
}

h1 {
  width:100%;
  margin-top:0px;
  font-family:'Paytone One', sans-serif;
  color:#ffb400;
  font-size:4em;
}

#wrap {
  height:90%;
  width:90%;
  margin:auto;
  text-align: center;
  background-color:#67d6cd;
  border:1.5em solid #ffffff;
  border-radius:2em;
}

#map {
  height:50%;
  max-width:50%;
  margin:auto;
}

p {
  font-family:Helvetica;
  color: #0B486B;
  font-weight: 700;
  font-size: 18px;
  margin: 10px;
}

input {
  width: 200px;
  height: 30px;
  font-size: 20px;
  font-family:'Paytone One', sans-serif;
  text-align: center;
  vertical-align: middle;
}

button {
  height: 38px;
  vertical-align: middle;
  font-size: 16px;
  font-family:'Paytone One', sans-serif;
  color:#ffb400;
}

input:focus {
  outline: none;
}

img {
  margin-bottom: -20px;
}